




<section class="paralax-mf footer-paralax bg-image sect-mt4 route" style="background-image: url(img/overlay-bg.jpg)">
    <div class="overlay-mf"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="contact-mf">
                    <div id="contact" class="box-shadow-full">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="title-box-2">
                                    <h5 class="title-left">
                                        برای ما پیام ارسال کنید
                                    </h5>
                                </div>
                                <div>
                                    <form action="" method="post" role="form" class="contactForm">
                                        <div id="sendmessage">
                                            پیام شما با موفقیت ارسال شد
                                        </div>
                                        <div id="errormessage"></div>
                                        <div class="row">
                                            <div class="col-md-12 mb-3">
                                                <div class="form-group">
                                                    <input type="text" name="name" class="form-control" id="name" placeholder="نام شما" data-rule="minlen:4" data-msg="لطفا بیشتر از 4 کاراکتر وارد کنید">
                                                    <div class="validation"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 mb-3">
                                                <div class="form-group">
                                                    <input type="email" class="form-control" name="email" id="email" placeholder="ایمیل شما" data-rule="email" data-msg="لطفا ایمیل معتبر وارد کنید">
                                                    <div class="validation"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 mb-3">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" name="subject" id="subject" placeholder="موضوع کنید" data-rule="minlen:4" data-msg="لطفا بیشتر از 8 کاراکتر وارد کنید">
                                                    <div class="validation"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 mb-3">
                                                <div class="form-group">
                                                    <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="پیام خود را برا ی ما بنویسید" placeholder="پیام"></textarea>
                                                    <div class="validation"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <button type="submit" class="button button-a button-big button-rouded">
                                                    ارسال
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="title-box-2 pt-4 pt-md-0">
                                    <h5 class="title-left">
                                        با ما در تماس باشید
                                    </h5>
                                </div>
                                <div class="more-info">
                                    <p class="lead">
                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت
                                        چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون
                                        بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
                                    </p>
                                    <ul class="list-ico">
                                        <li>
                                            <span class="ion-ios-location"></span> ایران -- تهران --خیابان ایکس
                                        </li>
                                        <li>
                                            <span class="ion-ios-telephone"></span> (617) 557-0089
                                        </li>
                                        <li>
                                            <span class="ion-email"></span> contact@example.com
                                        </li>
                                    </ul>
                                </div>
                                <div class="socials">
                                    <ul>
                                        <li>
                                            <a href=""><span class="ico-circle"><i class="ion-social-facebook"></i></span></a>
                                        </li>
                                        <li>
                                            <a href=""><span class="ico-circle"><i class="ion-social-instagram"></i></span></a>
                                        </li>
                                        <li>
                                            <a href=""><span class="ico-circle"><i class="ion-social-twitter"></i></span></a>
                                        </li>
                                        <li>
                                            <a href=""><span class="ico-circle"><i class="ion-social-pinterest"></i></span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="copyright-box">
                        <p class="copyright text-center">
                            © کپی رایت <strong>DevFolio</strong>
                        </p>
                        <div class="credits">
                            <!--
                              All the links in the footer should remain intact.
                              You can delete the links only if you purchased the pro version.
                              Licensing information: https://bootstrapmade.com/license/
                              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=DevFolio
                            -->


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</section>