
@model Models.Entities.ContactUs.ContactUs

<section class="paralax-mf footer-paralax bg-image sect-mt4 route" >
    <div class="overlay-mf"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="contact-mf">
                    <div id="contact" class="box-shadow-full">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="title-box-2">
                                    <h5 class="title-left">
                                        برای ما پیام ارسال کنید
                                    </h5>
                                </div>
                                <div>
                                    <form asp-action="ContactUs" asp-controller="ContactUs" method="post" role="form" class="contactForm">
                                        <div id="errormessage"></div>
                                        <div class="row">
                                            <div class="col-md-12 mb-3">
                                                <div class="form-group">
                                                    <input type="text" name="UserName" class="form-control" id="name" placeholder="نام شما" data-rule="minlen:4" data-msg="لطفا بیشتر از 4 کاراکتر وارد کنید">
                                                    <div class="validation"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 mb-3">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" name="Email" id="subject" placeholder=" ایمیل ">
                                                    <div class="validation"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 mb-3">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" name="PhoneNumber" id="subject" placeholder="شماره موبایل ">
                                                    <div class="validation"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 mb-3">
                                                <div class="form-group">
                                                    <textarea class="form-control" name="MessageContent" rows="5" data-rule="required" data-msg="پیام خود را برا ی ما بنویسید" placeholder="پیام"></textarea>
                                                    <div class="validation"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <input type="submit" class="button button-a button-big button-rouded" value="ارسال" />

                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="title-box-2 pt-4 pt-md-0">
                                    <h5 class="title-left">
                                        با ما در تماس باشید
                                    </h5>
                                </div>
                                <div class="more-info">
                                    <p class="lead">
                                    بنده در تمام ساعات شبانه روز در زمینه ی مشاوره یا رفع اشکال و یا آموزش برنامه نویسی در خدمت شما عزیزان محترم هستم .
                                       
                                        <br>
                                        باعث افتخار بنده است تا با شما عزیزان در ارتباط باشم .
                                        <br>
                                        از طریق راه های زیر می توانیم با یکدیگر در ارتباط باشیم .
                                    </p>
                                    <ul class="list-ico">
                                        <li>
                                            <span class="ion-ios-location"></span> مازندران -- ساری
                                            <span class="ion-ios-location"></span> ایران   -- تهران
                                        </li>
                                        <li>
                                            <span class="ion-ios-telephone"></span> 33357771 (011)
                                            <span class="ion-ios-telephone"></span> 09117878804 (989+)
                                        </li>
                                        <li>
                                            <span class="ion-email"></span> Parsapanahpoor@yahoo.com
                                        </li>
                                        <li>
                                            <span class="ion-email"></span> Parsapanahpoor77@gmail.com
                                        </li>
                                    </ul>
                                </div>
                                <div class="socials">
                                    <ul>
                                        <li>
                                            <a href="https://www.facebook.com/parsa.panahpoor.14/"><span class="ico-circle"><i class="ion-social-facebook"></i></span></a>
                                        </li>
                                        <li>
                                            <a href="https://www.instagram.com/parsapanahpoor_/"><span class="ico-circle"><i class="ion-social-instagram"></i></span></a>
                                        </li>
                                        <li>
                                            <a href="https://twitter.com/Parsapanahpoor"><span class="ico-circle"><i class="ion-social-twitter"></i></span></a>
                                        </li>
                                        <li>
                                            <a href=""><span class="ico-circle"><i class="ion-social-linkedin"></i></span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="copyright-box">
                        <p class="copyright text-center">
                             کپی رایت <strong>Parsapanahpoor.ir</strong>
                        </p>
               
                    </div>
                </div>
            </div>
        </div>
    </footer>
</section>