@model Models.Entities.AboutMe.Abilities

@{ ViewData["Title"] = "ویرایش تخصص";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="content-wrapper" style="min-height: 805px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>افزودن نقش جدید</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item"><a href="/Admin">خانه</a></li>
                        <li class="breadcrumb-item active">ویرایش تخصص  </li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <form asp-action="EditAbility" asp-controller="AboutMe" asp-area="Admin" method="post">
        <div asp-validation-summary="ModelOnly"></div>
        <input type="hidden" asp-for="Id"/> 

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <!-- left column -->
                    <div class="col-md-12">
                        <!-- general form elements -->
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">اطلاعات تخصص    </h3>
                            </div>
                            <!-- /.card-header -->
                            <!-- form start -->
                            <div role="form" asp-action="Create" asp-controller="Users" asp-area="Admin">
                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1"> عنوان  تخصص </label>
                                        <input type="text" asp-for="AbilityName" class="form-control" id="exampleInputEmail1" placeholder="عنوان  تخصص  را وارد کنید">
                                        <span asp-validation-for="AbilityName" class="text-danger"></span>

                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1"> درصد توانایی    </label>
                                        <input type="text" asp-for="AbilityPercent" class="form-control" id="exampleInputEmail1" placeholder="عنوان  درصد توانایی  را وارد کنید">
                                        <span asp-validation-for="AbilityPercent" class="text-danger"></span>

                                    </div>

                                </div>
                                <!-- /.card-body -->
                                <div class="card-footer">

                                    @if (ViewData["Delete"] != null)
                                    {
                                        <a href="/Admin/AboutMe/DeleteAbility/@Model.Id" class="btn btn-danger">حذف  </a>

                                    }
                                    else
                                    {
                                        <button type="submit" class="btn btn-success">ثبت </button>

                                    }


                                    <a asp-action="Abilities" asp-controller="AboutMe" asp-area="Admin" class="btn btn-primary">بازگشت  </a>
                                </div>
                            </div>
                        </div>


                    </div>
                    <!--/.col (left) -->
                    <!-- right column -->
                    <!--/.col (right) -->
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </section>
    </form>


</div>


