

<div id="home" class="intro route bg-image" style="        background-image: url(/ParsaPanahpoor_Desing/img/intro-bg.jpg)">
    <div class="overlay-itro"></div>
    <div class="intro-content display-table">
        <div class="table-cell">
            <div class="container">
                <!-- <p class="display-6 color-d">Hello, world!</p> -->
                <h1 class="intro-title mb-4">من برنامه نویس هستم</h1>
                <p class="intro-subtitle">
                    <span class="text-slider-items">, طراح وب سایت , برنامه نویس بک اند ,توسعه دهنده وب</span><strong class="text-slider">برنامه نویس بک اند</strong><span class="typed-cursor" style="animation-iteration-count: infinite;"></span>
                </p>
                <!-- <p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">Learn More</a></p> -->
            </div>
        </div>
    </div>
</div>