@model Microsoft.AspNetCore.Identity.IdentityRole

@{ ViewData["Title"] = "ثبت نقش";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="content-wrapper" style="min-height: 805px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>افزودن نقش جدید</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item"><a href="/Admin">خانه</a></li>
                        <li class="breadcrumb-item active">افزودن نقش جدید </li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <form asp-action="Create" asp-controller="Roles" asp-area="Admin" method="post">
        <div asp-validation-summary="ModelOnly"></div>

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <!-- left column -->
                    <div class="col-md-12">
                        <!-- general form elements -->
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">اطلاعات نقش جدید   </h3>
                            </div>
                            <!-- /.card-header -->
                            <!-- form start -->
                            <div role="form" asp-action="Create" asp-controller="Users" asp-area="Admin">
                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1"> عنوان  نقش </label>
                                        <input type="text" asp-for="Name" class="form-control" id="exampleInputEmail1" placeholder="عنوان  نقش  را وارد کنید">
                                        <span asp-validation-for="Name" class="text-danger"></span>

                                    </div>


                                </div>
                                <!-- /.card-body -->

                                <div class="card-footer">
                                    <button type="submit" class="btn btn-success">ثبت </button>
                                    <a asp-action="Index" asp-controller="Roles" asp-area="Admin" class="btn btn-primary">بازگشت  </a>
                                </div>
                            </div>
                        </div>


                    </div>
                    <!--/.col (left) -->
                    <!-- right column -->
                    <!--/.col (right) -->
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </section>
    </form>


</div>


