


<section id="blog" class="blog-mf sect-pt4 route">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="title-box text-center">
                    <h3 class="title-a">
                        وبلاگ
                    </h3>
                    <p class="subtitle-a text-center">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                        استفاده از طراحان گرافیک است
                    </p>
                    <div class="line-mf"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-blog">
                    <div class="card-img">
                        <a href="blog-single.html"><img src="/ParsaPanahpoor_Desing/img/post-1.jpg" alt="" class="img-fluid"></a>
                    </div>
                    <div class="card-body">
                        <div class="card-category-box">
                            <div class="card-category">
                                <h6 class="category">سفر</h6>
                            </div>
                        </div>
                        <h3 class="card-title">
                            <a href="blog-single.html">لورم ایپسوم متن ساختگی با تولید</a>
                        </h3>
                        <p class="card-description">
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                            استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و
                            مجله در ستون و سطرآنچنان که لازم است
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="post-author">
                            <a href="#">
                                <img src="/ParsaPanahpoor_Desing/img/testimonial-2.jpg" alt="" class="avatar rounded-circle">
                                <span class="author">مستر ایکس</span>
                            </a>
                        </div>
                        <div class="post-date">
                            <span class="ion-ios-clock-outline"></span> 10 دقیقه
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-blog">
                    <div class="card-img">
                        <a href="blog-single.html"><img src="/ParsaPanahpoor_Desing/img/post-2.jpg" alt="" class="img-fluid"></a>
                    </div>
                    <div class="card-body">
                        <div class="card-category-box">
                            <div class="card-category">
                                <h6 class="category">طراح وب</h6>
                            </div>
                        </div>
                        <h3 class="card-title">
                            <a href="blog-single.html">لورم ایپسوم متن ساختگی با تولید</a>
                        </h3>
                        <p class="card-description">
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                            استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و
                            مجله در ستون و سطرآنچنان که لازم است
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="post-author">
                            <a href="#">
                                <img src="/ParsaPanahpoor_Desing/img/testimonial-2.jpg" alt="" class="avatar rounded-circle">
                                <span class="author">مستر ایکس</span>
                            </a>
                        </div>
                        <div class="post-date">
                            <span class="ion-ios-clock-outline"></span> 10 دقیقه
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-blog">
                    <div class="card-img">
                        <a href="blog-single.html"><img src="/ParsaPanahpoor_Desing/img/post-3.jpg" alt="" class="img-fluid"></a>
                    </div>
                    <div class="card-body">
                        <div class="card-category-box">
                            <div class="card-category">
                                <h6 class="category">طراح وب</h6>
                            </div>
                        </div>
                        <h3 class="card-title">
                            <a href="blog-single.html">لورم ایپسوم متن ساختگی با تولید</a>
                        </h3>
                        <p class="card-description">
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                            استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و
                            مجله در ستون و سطرآنچنان که لازم است
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="post-author">
                            <a href="#">
                                <img src="/ParsaPanahpoor_Desing/img/testimonial-2.jpg" alt="" class="avatar rounded-circle">
                                <span class="author">مستر ایکس</span>
                            </a>
                        </div>
                        <div class="post-date">
                            <span class="ion-ios-clock-outline"></span> 10 دقیقه
                        </div>
                    </div>
                </div>
            </div>





            <div class="col-md-4">
                <div class="card card-blog">
                    <div class="card-img">
                        <a href="blog-single.html"><img src="/ParsaPanahpoor_Desing/img/post-1.jpg" alt="" class="img-fluid"></a>
                    </div>
                    <div class="card-body">
                        <div class="card-category-box">
                            <div class="card-category">
                                <h6 class="category">سفر</h6>
                            </div>
                        </div>
                        <h3 class="card-title">
                            <a href="blog-single.html">لورم ایپسوم متن ساختگی با تولید</a>
                        </h3>
                        <p class="card-description">
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                            استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و
                            مجله در ستون و سطرآنچنان که لازم است
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="post-author">
                            <a href="#">
                                <img src="/ParsaPanahpoor_Desing/img/testimonial-2.jpg" alt="" class="avatar rounded-circle">
                                <span class="author">مستر ایکس</span>
                            </a>
                        </div>
                        <div class="post-date">
                            <span class="ion-ios-clock-outline"></span> 10 دقیقه
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-blog">
                    <div class="card-img">
                        <a href="blog-single.html"><img src="/ParsaPanahpoor_Desing/img/post-2.jpg" alt="" class="img-fluid"></a>
                    </div>
                    <div class="card-body">
                        <div class="card-category-box">
                            <div class="card-category">
                                <h6 class="category">طراح وب</h6>
                            </div>
                        </div>
                        <h3 class="card-title">
                            <a href="blog-single.html">لورم ایپسوم متن ساختگی با تولید</a>
                        </h3>
                        <p class="card-description">
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                            استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و
                            مجله در ستون و سطرآنچنان که لازم است
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="post-author">
                            <a href="#">
                                <img src="/ParsaPanahpoor_Desing/img/testimonial-2.jpg" alt="" class="avatar rounded-circle">
                                <span class="author">مستر ایکس</span>
                            </a>
                        </div>
                        <div class="post-date">
                            <span class="ion-ios-clock-outline"></span> 10 دقیقه
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-blog">
                    <div class="card-img">
                        <a href="blog-single.html"><img src="/ParsaPanahpoor_Desing/img/post-3.jpg" alt="" class="img-fluid"></a>
                    </div>
                    <div class="card-body">
                        <div class="card-category-box">
                            <div class="card-category">
                                <h6 class="category">طراح وب</h6>
                            </div>
                        </div>
                        <h3 class="card-title">
                            <a href="blog-single.html">لورم ایپسوم متن ساختگی با تولید</a>
                        </h3>
                        <p class="card-description">
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                            استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و
                            مجله در ستون و سطرآنچنان که لازم است
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="post-author">
                            <a href="#">
                                <img src="/ParsaPanahpoor_Desing/img/testimonial-2.jpg" alt="" class="avatar rounded-circle">
                                <span class="author">مستر ایکس</span>
                            </a>
                        </div>
                        <div class="post-date">
                            <span class="ion-ios-clock-outline"></span> 10 دقیقه
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>