


<section id="work" class="portfolio-mf sect-pt4 route">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="title-box text-center">
                    <h3 class="title-a">
                        نمونه کارها
                    </h3>
                    <p class="subtitle-a text-center">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                    </p>
                    <div class="line-mf"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="work-box">
                    <a href="img/work-1.jpg" data-lightbox="gallery-mf">
                        <div class="work-img">
                            <img src="/ParsaPanahpoor_Desing/img/work-1.jpg" alt="" class="img-fluid">
                        </div>
                        <div class="work-content">
                            <div class="row">
                                <div class="col-sm-10">
                                    <h2 class="w-title">لورم ایپسوم متن ساختگی</h2>
                                    <div class="w-more">
                                        <span class="w-ctegory">طراح سایت</span> /
                                        <span class="w-date">1 فروردین 1398</span>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="w-like">
                                        <span class="ion-ios-plus-outline"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="work-box">
                    <a href="img/work-2.jpg" data-lightbox="gallery-mf">
                        <div class="work-img">
                            <img src="/ParsaPanahpoor_Desing/img/work-2.jpg" alt="" class="img-fluid">
                        </div>
                        <div class="work-content">
                            <div class="row">
                                <div class="col-sm-10">
                                    <h2 class="w-title">لورم ایپسوم متن ساختگی</h2>
                                    <div class="w-more">
                                        <span class="w-ctegory">طراح سایت</span> /
                                        <span class="w-date">1 فروردین 1398</span>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="w-like">
                                        <span class="ion-ios-plus-outline"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="work-box">
                    <a href="img/work-3.jpg" data-lightbox="gallery-mf">
                        <div class="work-img">
                            <img src="/ParsaPanahpoor_Desing/img/work-3.jpg" alt="" class="img-fluid">
                        </div>
                        <div class="work-content">
                            <div class="row">
                                <div class="col-sm-10">
                                    <h2 class="w-title">لورم ایپسوم متن ساختگی</h2>
                                    <div class="w-more">
                                        <span class="w-ctegory">طراح سایت</span> /
                                        <span class="w-date">1 فروردین 1398</span>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="w-like">
                                        <span class="ion-ios-plus-outline"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="work-box">
                    <a href="img/work-4.jpg" data-lightbox="gallery-mf">
                        <div class="work-img">
                            <img src="/ParsaPanahpoor_Desing/img/work-4.jpg" alt="" class="img-fluid">
                        </div>
                        <div class="work-content">
                            <div class="row">
                                <div class="col-sm-10">
                                    <h2 class="w-title">لورم ایپسوم متن ساختگی</h2>
                                    <div class="w-more">
                                        <span class="w-ctegory">طراح سایت</span> /
                                        <span class="w-date">1 فروردین 1398</span>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="w-like">
                                        <span class="ion-ios-plus-outline"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="work-box">
                    <a href="img/work-5.jpg" data-lightbox="gallery-mf">
                        <div class="work-img">
                            <img src="/ParsaPanahpoor_Desing/img/work-5.jpg" alt="" class="img-fluid">
                        </div>
                        <div class="work-content">
                            <div class="row">
                                <div class="col-sm-10">
                                    <h2 class="w-title">لورم ایپسوم متن ساختگی</h2>
                                    <div class="w-more">
                                        <span class="w-ctegory">طراح سایت</span> /
                                        <span class="w-date">1 فروردین 1398</span>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="w-like">
                                        <span class="ion-ios-plus-outline"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="work-box">
                    <a href="img/work-6.jpg" data-lightbox="gallery-mf">
                        <div class="work-img">
                            <img src="/ParsaPanahpoor_Desing/img/work-6.jpg" alt="" class="img-fluid">
                        </div>
                        <div class="work-content">
                            <div class="row">
                                <div class="col-sm-10">
                                    <h2 class="w-title">لورم ایپسوم متن ساختگی</h2>
                                    <div class="w-more">
                                        <span class="w-ctegory">طراح سایت</span> /
                                        <span class="w-date">1 فروردین 1398</span>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="w-like">
                                        <span class="ion-ios-plus-outline"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>