@model Models.Entities.Sldier.Slider
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">


<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Parsa Panahpoor</title>
    <!-- Meta Share -->
    <meta property="og:title" content="Parsa Panahpoor" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="images/bg-one.jpg" />

    <!-- CSS Files -->
    <!-- build:css css/app.min.css -->
    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="/WellcomePage/css/bootstrap.min.css">
    <!-- Web Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Dosis|Oswald:300" rel="stylesheet">
    <!-- Plugins -->
    <link rel="stylesheet" href="/WellcomePage/css/icon-font.css">
    <link rel="stylesheet" href="/WellcomePage/css/aos.css">
    <!-- Main CSS -->
    <link href="~/WellcomePage/css/style.css" rel="stylesheet" />
    <!-- /build -->
</head>

<body>
    <div class="animation anim-dark" data-aos="slide-effect-2">
        <div class="wrapper animation-inner">
            <div class="background">
                <div class="video-container">
                    <div class="filter"></div>
                    <img src="~/Images/Slider/@Model.SliderImageName"  id="bgvid" playsinline autoplay muted loop/>
                        @*<source src="images/video.mp4" type="video/mp4" />Your browser does not support the video tag. I
                        suggest you upgrade your browser.
                        <source src="images/video.webm" type="video/webm" />Your browser does not support the video tag.*@
                </div>
            </div>



            <!-- // end .background -->
            <div class="content-section d-flex justify-content-center align-items-center">
                <div class="v-lines">
                    <div class="vline-1"></div><!-- // end .vline-1 -->
                    <div class="vline-2"></div><!-- // end .vline-1 -->
                    <div class="vline-3"></div><!-- // end .vline-1 -->
                    <div class="vline-4"></div><!-- // end .vline-1 -->
                </div><!-- // end .lines -->
                <div class="container">
                    <div class="center-content text-light align-self-center">
                        <img src="/WellcomePage/images/freedom.png"  class="img-fluid" id="background" alt="Parsa Panahpoor" data-aos="fade"
                             data-aos-delay="1800" />
                        <p class="lead my-4" data-aos="fade" id="SliderText" data-aos-delay="2500">

                          @Model.SliderText
                        </p>
                        <!-- // end .lead -->
                        <span class="animation anim-light" data-aos="slide-effect-btn" data-aos-delay="3000">
                            <a href="/Home" class="btn btn-lg btn-outline"> Wellcome </a>
                        </span>

                    </div>
                    <!-- // end .center-content -->
                </div>
                <!-- // end .container -->
            </div>
            <!-- // end .content-section -->
            <div class="sidebar sidebar-dark d-flex flex-column justify-content-end" data-aos="slide-left"
                 data-aos-delay="3000">

                <!-- // end .hamburger-menu -->
                <div class="social-links">
                    <a href="https://www.facebook.com/parsa.panahpoor.14/" target="_blank"> Facebook </a>
                    <a href="https://twitter.com/Parsapanahpoor" target="_blank"> Twitter </a>
                    <a href="https://www.instagram.com/parsapanahpoor_/" target="_blank"> Instagram </a>
                </div>
            </div>
   
        </div>
        <!-- // end .wrapper -->
    </div>
 
 
    <script src="/WellcomePage/js/jquery-3.2.1.min.js"></script>
    <script src="/WellcomePage/js/tether.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="/WellcomePage/js/bootstrap.min.js"></script>
    <!-- Plugins JS -->
    <script src="/WellcomePage/js/viewport.min.js"></script>
    <script src="/WellcomePage/js/aos.js"></script>
    <script src="/WellcomePage/js/smoothscroll.min.js"></script>
    <script src="/WellcomePage/js/validate.js"></script>
    <script src="/WellcomePage/js/subscribe.js"></script>
    <script src="/WellcomePage/js/contact.js"></script>

    <!-- Main JS -->
    <script src="/WellcomePage/js/script.js"></script>
    <!-- /build -->
</body>

</html>