@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">


<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Parsa Panahpoor</title>
    <!-- Meta Share -->
    <meta property="og:title" content="Parsa Panahpoor" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="images/bg-one.jpg" />

    <!-- CSS Files -->
    <!-- build:css css/app.min.css -->
    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="/WellcomePage/css/bootstrap.min.css">
    <!-- Web Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Dosis|Oswald:300" rel="stylesheet">
    <!-- Plugins -->
    <link rel="stylesheet" href="/WellcomePage/css/icon-font.css">
    <link rel="stylesheet" href="/WellcomePage/css/aos.css">
    <!-- Main CSS -->
    <link href="~/WellcomePage/css/style.css" rel="stylesheet" />
    <!-- /build -->
</head>

<body>
    <div class="animation anim-dark" data-aos="slide-effect-2">

        <cache expires-after="@TimeSpan.FromDays(1)">
            @await Component.InvokeAsync("WellcomePageComponent")
        </cache>


    </div>
 
 
    <script src="/WellcomePage/js/jquery-3.2.1.min.js"></script>
    <script src="/WellcomePage/js/tether.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="/WellcomePage/js/bootstrap.min.js"></script>
    <!-- Plugins JS -->
    <script src="/WellcomePage/js/viewport.min.js"></script>
    <script src="/WellcomePage/js/aos.js"></script>
    <script src="/WellcomePage/js/smoothscroll.min.js"></script>
    <script src="/WellcomePage/js/validate.js"></script>
    <script src="/WellcomePage/js/subscribe.js"></script>
    <script src="/WellcomePage/js/contact.js"></script>

    <!-- Main JS -->
    <script src="/WellcomePage/js/script.js"></script>
    <!-- /build -->
</body>

</html>