
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">


<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Parsa Panahpoor</title>
    <!-- Meta Share -->
    <meta property="og:title" content="Parsa Panahpoor" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="images/bg-one.jpg" />

    <!-- CSS Files -->
    <!-- build:css css/app.min.css -->
    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="/WellcomePage//css/bootstrap.min.css">
    <!-- Web Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Dosis|Oswald:300" rel="stylesheet">
    <!-- Plugins -->
    <link rel="stylesheet" href="/WellcomePage/css/icon-font.css">
    <link rel="stylesheet" href="/WellcomePage/css/aos.css">
    <!-- Main CSS -->
    <link rel="stylesheet" href="/WellcomePage/css/style.css">
    <!-- /build -->
</head>

<body>
    <div class="animation anim-dark" data-aos="slide-effect-2">
        <div class="wrapper animation-inner">
            <div class="background">
                <div class="video-container">
                    <div class="filter"></div>
                    <video poster="images/poster.jpg" id="bgvid" playsinline autoplay muted loop>
                        <source src="images/video.mp4" type="video/mp4" />Your browser does not support the video tag. I
                        suggest you upgrade your browser.
                        <source src="images/video.webm" type="video/webm" />Your browser does not support the video tag.
                        I suggest you upgrade your browser.
                    </video>
                </div>
            </div>



            <!-- // end .background -->
            <div class="content-section d-flex justify-content-center align-items-center">
                <div class="v-lines">
                    <div class="vline-1"></div><!-- // end .vline-1 -->
                    <div class="vline-2"></div><!-- // end .vline-1 -->
                    <div class="vline-3"></div><!-- // end .vline-1 -->
                    <div class="vline-4"></div><!-- // end .vline-1 -->
                </div><!-- // end .lines -->
                <div class="container">
                    <div class="center-content text-light align-self-center">
                        <img src="/WellcomePage/images/freedom.png" class="img-fluid" alt="Parsa Panahpoor" data-aos="fade"
                             data-aos-delay="1800" />
                        <p class="lead my-4" data-aos="fade" data-aos-delay="2500">
                            We are cooking something really
                            awesome stuff. Hold your breath and wait for the royal launch
                        </p>
                        <!-- // end .lead -->
                        <span class="animation anim-light" data-aos="slide-effect-btn" data-aos-delay="3000">
                            <a href="/Home" class="btn btn-lg btn-outline"> Wellcome </a>
                        </span>

                    </div>
                    <!-- // end .center-content -->
                </div>
                <!-- // end .container -->
            </div>
            <!-- // end .content-section -->
            <div class="sidebar sidebar-dark d-flex flex-column justify-content-end" data-aos="slide-left"
                 data-aos-delay="3000">

                <!-- // end .hamburger-menu -->
                <div class="social-links">
                    <a href="https://www.facebook.com/parsa.panahpoor.14/" target="_blank"> Facebook </a>
                    <a href="https://twitter.com/Parsapanahpoor" target="_blank"> Twitter </a>
                    <a href="https://www.instagram.com/parsapanahpoor_/" target="_blank"> Instagram </a>
                </div>
            </div>
            <!-- // end .sidebar -->


            <div class="fullscreen-content dark-bg" id="fscontent">

                <div class="container">
                    <h1 class="text-center my-md mb-5" data-aos="fade-in" data-aos-duration="300">
                        Fluid is a clean and
                        minimal coming Soon template with super cool CSS3 Animations. Fluid comes with different styles
                        and variations to choose from.
                    </h1>

                    <div class="row">
                        <div class="col-md-6">
                            <p class="lead" data-aos="fade-in" data-aos-duration="300">
                                Distinctively generate top-line
                                schemas and fully researched "outside the box" thinking. Energistically iterate
                                open-source functionalities vis-a-vis bleeding-edge experiences. Globally enable
                                frictionless portals before performance based methodologies.
                            </p>
                        </div><!-- // end .col-md-6 -->
                        <div class="col-md-6" data-aos="fade-in" data-aos-duration="300">
                            <p class="lead">
                                Globally parallel task end-to-end infomediaries vis-a-vis e-business
                                initiatives. Compellingly cultivate enterprise-wide markets whereas high-quality
                                outsourcing. Conveniently conceptualize ubiquitous paradigms with front-end alignments.
                            </p>
                        </div><!-- // end .col-md-6 -->
                    </div><!-- // end .row -->


                    <div class="row my-lg">
                        <div class="col-md-6 col-lg-3">
                            <div class="feature-block" data-aos="fade-in">
                                <i class="pe-7s-rocket pe-5x"></i>
                                <h3>Super Fast</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac venenatis est. Ut
                                    ut elit in elit imperdiet
                                </p>
                            </div><!-- // end .feature-block -->
                        </div><!-- // end .col-md-6 col-lg-3 -->
                        <div class="col-md-6 col-lg-3">
                            <div class="feature-block" data-aos="fade-in" data-aos-delay="500">
                                <i class="pe-7s-paint-bucket pe-5x"></i>
                                <h3>Customizable</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac venenatis est. Ut
                                    ut elit in elit imperdiet
                                </p>
                            </div><!-- // end .feature-block -->
                        </div><!-- // end .col-md-6 col-lg-3 -->
                        <div class="col-md-6 col-lg-3">
                            <div class="feature-block" data-aos="fade-in" data-aos-delay="1500">
                                <i class="pe-7s-piggy pe-5x"></i>
                                <h3>Save Money</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac venenatis est. Ut
                                    ut elit in elit imperdiet
                                </p>
                            </div><!-- // end .feature-block -->
                        </div><!-- // end .col-md-6 col-lg-3 -->
                        <div class="col-md-6 col-lg-3">
                            <div class="feature-block" data-aos="fade-in" data-aos-delay="2000">
                                <i class="pe-7s-smile pe-5x"></i>
                                <h3>Be Happy</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac venenatis est. Ut
                                    ut elit in elit imperdiet
                                </p>
                            </div><!-- // end .feature-block -->
                        </div><!-- // end .col-md-6 col-lg-3 -->
                    </div><!-- // end .row -->


                    <div class="section-title">
                        <h2 class="section-heading">Our Team</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac venenatis est. Ut ut elit
                            in elit imperdiet consectetur sit amet eu tellus.
                        </p>
                    </div><!-- // end .section-title -->


                    <div class="row">
                        <div class="col-md-6 col-lg-3">
                            <div class="team-block">
                                <div class="animation anim-light mb-3" data-aos="slide-effect-2">
                                    <img src="images/team_img_1.jpg" class="img-fluid" alt="team 1" />
                                </div>
                                <h4 data-aos="fade-in">Ronald Reyes</h4>
                                <p data-aos="fade-in" data-aos-delay="500">Co-Founder and CEO</p>
                            </div><!-- // end .team-block -->
                        </div><!-- // end .col-md-6 col-lg-3 -->
                        <div class="col-md-6 col-lg-3">
                            <div class="team-block">
                                <div class="animation anim-light mb-3" data-aos="slide-effect-2">
                                    <img src="images/team_img_2.jpg" class="img-fluid" alt="team 2" />
                                </div>
                                <h4 data-aos="fade-in">Teresa Williams</h4>
                                <p data-aos="fade-in" data-aos-delay="500">Co-Founder</p>
                            </div><!-- // end .team-block -->
                        </div><!-- // end .col-md-6 col-lg-3 -->
                        <div class="col-md-6 col-lg-3">
                            <div class="team-block">
                                <div class="animation anim-light mb-3" data-aos="slide-effect-2">
                                    <img src="images/team_img_3.jpg" class="img-fluid" alt="team 3" />
                                </div>
                                <h4 data-aos="fade-in">Ryan Woods</h4>
                                <p data-aos="fade-in" data-aos-delay="500">Lead Developer</p>
                            </div><!-- // end .team-block -->
                        </div><!-- // end .col-md-6 col-lg-3 -->
                        <div class="col-md-6 col-lg-3">
                            <div class="team-block">
                                <div class="animation anim-light mb-3" data-aos="slide-effect-2">
                                    <img src="images/team_img_4.jpg" class="img-fluid" alt="team 4" />
                                </div>
                                <h4 data-aos="fade-in">Philip Richardson</h4>
                                <p data-aos="fade-in" data-aos-delay="500">Product Head</p>
                            </div><!-- // end .team-block -->
                        </div><!-- // end .col-md-6 col-lg-3 -->
                    </div><!-- // end .row -->

                    <div class="section-title mt-5">
                        <h2 class="section-heading">We are here</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac venenatis est. Ut ut elit
                            in elit imperdiet consectetur sit amet eu tellus.
                        </p>
                    </div><!-- // end .section-title -->

                    <p class="text-center">
                        Fluid Inc <br>
                        412 E 6th St, New York, <br>
                        NY 10009, USA
                    </p><!-- // end .text-center -->
                    <p class="text-center">+1 917-597-2109</p>
                    <p class="text-center">
                        <a href="mailto:hello@fluidinc.com">hello@fluidinc.com</a>
                        <br><br>
                        <a href="javascript:void(0);" class="btn btn-lg btn-outline" data-toggle="modal"
                           data-target="#contactModal">Contact Now</a>
                    </p>

                </div><!-- // end .container -->
                <!-- Things to modify: Your Location Latitude, Longitude, Map Zoom and Google Maps API Key. [[[ See Docs ]]]  -->
                <div class="google-map" id="gmaps" data-lat="40.6700" data-lon="-73.9400"
                     data-maps-apikey="PASTE_YOUR_GOOGLR_MAPS_API_KEY_HERE" data-zoom="11"></div>


            </div><!-- // end .fullscreen-content -->


        </div>
        <!-- // end .wrapper -->
    </div>
    <!-- // end .animation -->
    <!-- Subscribe Modal -->
    <div class="modal modal-center modal-dark" id="subscribeModal" tabindex="-1" role="dialog"
         aria-labelledby="subscribeModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="pe-7s-close pe-2x"></i></span>
                    </button>
                    <h2 class="modal-title" id="subscribeModalLabel">Subscribe</h2>
                    <p class="lead text-center text-light p-2">
                        Subscribe to our newsletter to receive updates about our super awesome project.
                    </p>

                    <form class="pr-4 pl-4 pb-4" id="subscribeform" action="php/subscribe.php" method="post">
                        <div class="form-group md-form">
                            <input type="text" name="fname" class="form-control input-material" autocomplete="off"
                                   required>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label class="">First Name</label>
                        </div><!-- // end .form-group -->
                        <div class="form-group md-form">
                            <input type="email" name="email" class="form-control input-material" autocomplete="off"
                                   required>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label class="">Email Address</label>
                        </div><!-- // end .form-group -->
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-lg btn-outline" id="js-subscribe-btn">
                                Subscribe
                                Now
                            </button>
                            <div id="js-subscribe-result" data-success-msg="Success, Please check your email."
                                 data-error-msg="Oops! Something went wrong"></div>
                        </div><!-- // end .form-group -->
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- // End Subscribe Modal -->
    <!-- Contact Modal -->
    <div class="modal modal-center modal-dark" id="contactModal" tabindex="-1" role="dialog"
         aria-labelledby="contactModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="pe-7s-close pe-2x"></i></span>
                    </button>
                    <h2 class="modal-title" id="contactModalLabel">Contact Us</h2>
                    <p class="lead text-center text-light p-2">
                        Have a question? Want to know more about our super awesome project? Just send us a message.
                    </p>

                    <form class="pr-4 pl-4 pb-4" id="phpcontactform" action="php/contact.php" method="post">

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group md-form">
                                    <input type="text" name="fname" class="form-control input-material"
                                           autocomplete="off" required>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label class="">First Name</label>
                                </div><!-- // end .form-group -->
                            </div><!-- // end .col-sm-6 -->
                            <div class="col-sm-6">

                                <div class="form-group md-form">
                                    <input type="email" name="email" class="form-control input-material"
                                           autocomplete="off" required>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label class="">Email Address</label>
                                </div><!-- // end .form-group -->

                            </div><!-- // end .col-sm-6 -->
                        </div><!-- // end .row -->

                        <div class="form-group md-form">
                            <textarea name="message" class="form-control input-material" rows="5" required></textarea>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label class="">Your Message</label>
                        </div><!-- // end .form-group -->


                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-lg btn-outline" id="js-contact-btn">
                                Send
                                Message
                            </button>
                            <div id="js-contact-result" data-success-msg="Success, Please check your email."
                                 data-error-msg="Oops! Something went wrong"></div>
                        </div><!-- // end .form-group -->
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- // End Contact Modal -->
    <!-- JS Files -->
    <!-- build:js js/app.min.js -->
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="/WellcomePage/js/jquery-3.2.1.min.js"></script>
    <script src="/WellcomePage/js/tether.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="/WellcomePage/js/bootstrap.min.js"></script>
    <!-- Plugins JS -->
    <script src="/WellcomePage/js/viewport.min.js"></script>
    <script src="/WellcomePage/js/aos.js"></script>
    <script src="/WellcomePage/js/smoothscroll.min.js"></script>
    <script src="/WellcomePage/js/validate.js"></script>
    <script src="/WellcomePage/js/subscribe.js"></script>
    <script src="/WellcomePage/js/contact.js"></script>

    <!-- Main JS -->
    <script src="/WellcomePage/js/script.js"></script>
    <!-- /build -->
</body>

</html>