
@model Models.Entities.Sldier.Slider


<div class="wrapper animation-inner">
    <div class="background">
        <div class="video-container">
            <div class="filter"></div>
            <img src="~/Images/Slider/@Model.SliderImageName" id="bgvid" playsinline autoplay muted loop />
            @*<source src="images/video.mp4" type="video/mp4" />Your browser does not support the video tag. I
                suggest you upgrade your browser.
                <source src="images/video.webm" type="video/webm" />Your browser does not support the video tag.*@
        </div>
    </div>



    <!-- // end .background -->
    <div class="content-section d-flex justify-content-center align-items-center">
        <div class="v-lines">
            <div class="vline-1"></div><!-- // end .vline-1 -->
            <div class="vline-2"></div><!-- // end .vline-1 -->
            <div class="vline-3"></div><!-- // end .vline-1 -->
            <div class="vline-4"></div><!-- // end .vline-1 -->
        </div><!-- // end .lines -->
        <div class="container">
            <div class="center-content text-light align-self-center">
                <img src="/WellcomePage/images/freedom.png" class="img-fluid" id="background" alt="Parsa Panahpoor" data-aos="fade"
                     data-aos-delay="1800" />
                <p class="lead my-4" data-aos="fade" id="SliderText" data-aos-delay="2500">

                    @Model.SliderText
                </p>
                <!-- // end .lead -->
                <span class="animation anim-light" data-aos="slide-effect-btn" data-aos-delay="3000">
                    <a href="/Home" class="btn btn-lg btn-outline"> Wellcome </a>
                </span>

            </div>
            <!-- // end .center-content -->
        </div>
        <!-- // end .container -->
    </div>
    <!-- // end .content-section -->
    <div class="sidebar sidebar-dark d-flex flex-column justify-content-end" data-aos="slide-left"
         data-aos-delay="3000">

        <!-- // end .hamburger-menu -->
        <div class="social-links">
            <a href="https://www.facebook.com/parsa.panahpoor.14/" target="_blank"> Facebook </a>
            <a href="https://twitter.com/Parsapanahpoor" target="_blank"> Twitter </a>
            <a href="https://www.instagram.com/parsapanahpoor_/" target="_blank"> Instagram </a>
        </div>
    </div>

</div>
